.green { background-color: green; }
.light-salmon { background-color: #FFA07A; }
.light-seagreen { background-color: #20B2AA; }
.light-skyblue { background-color: #87CEFA; }
.white{ background-color: white; }
.purple {background-color: purple;}
.weird-pink {background-color: #d499ff;}
.red {background-color: red;}
.light-green{ background-color: #90ee90; }
#color-picker{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

div.color-square{
	margin: 20px 0px 0px 0px;
	width: 100px;
	height: 100px;
	display: inline-block;
}
div#board{
	margin-top: 0px;
	width: 100%
	height: 100%;
}

div.color-square:not(:first-child){
	margin-left: 20px;

}

div.color-square:hover{
	border: 1px solid black;
	cursor: pointer;
	webkit-animation: wiggle 5s infinite;
	-moz-animation: wiggle 5s infinite;
	-o-animation: wiggle 5s infinite;
	animation: wiggle 5s infinite;
}

@-webkit-keyframes wiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes wiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@keyframes wiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}