input[type="text"], input[type="password"]{
	font-size: 16px;
	padding: 0.5em;
	margin: 0.2em 0em 0.5em 1em;
}

input[type="file"]{
	margin: 5px 0px 5px 36px;
}


/*button hidden by default because of modal*/
button#submit{
	background: #a9a9a9;
	margin: 0.2em 0em 0.5em 1em;
	font-size: 16px;
	font-weight: bold;
  	border-radius: 4.4em;
  	text-decoration: none;
  	padding: 20px 60px;
	visibility: hidden;
}

button#submit {
	outline: 0;
}

select{
	font-size: 16px;
	padding: 0.5em;
	margin: 0.2em 0em 0.5em 1em;
	width: 67%;
	height: 71%;
}

input#uname.textbox{
	margin-top: 1em;
}

div img{
	margin-top: 10px;
	font-size: 16px;
	border-radius: 50%;
	max-width: 200px;
	max-height: 200px;
}

.modal-contents{
	margin: auto;				/*center form div*/
	border: 1px solid #f1f1f9;
	text-align: center;
	border-radius: 2em;
	background-color: #f1f1f1;
	width: 20em;
	height: 41.125em;
	overflow: hidden;
}

.modal{
	display:none;		/* default hidden */
	margin: 0 auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;	
	z-index: 1;			/* on top */
	background-color: rgba(0,0,0,0.4); /* Black */
	width: 100%;
	height: 100%;
}

